<p>button-click works!</p>

<div class="container   mt-5 mb-5">
    <h1 class="alert alert-danger ">Angular 13!!</h1>
    <h1 #demo> x={{x}}  {{NUM}}</h1>

    <button class="btn btn-success" (click)="showInput(123)">click me</button>


    <form class="mt-4">
        <div class="form-group">

            <h1>Name: {{name}}</h1>
          <label for="Name">Name</label>
          <input type="text"  #Name class="form-control" name="name"  (keyup)="GetName(Name.value)"  aria-describedby="helpId" placeholder="even keyup">
            
          <!-- <button type="submit" class="btn btn-info mt-2">click</button> -->
        </div>

        <div class="form-group">

            <h1>full Name: {{fullname}}</h1>
          <label for="first">First-Name</label>
          <input type="text"  #first class="form-control" name="First"   aria-describedby="helpId" placeholder="first name ">
          <label for="last">Last-Name</label>
          <input type="text"  #last class="form-control" name="Last"    aria-describedby="helpId" placeholder="last name">
         
          <button type="button" class="btn btn-info mt-2" (click)="fullName(first.value, last.value)">click</button>
        </div>
         
    </form>
  </div>