* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #eaeaea;
}

.container {
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    position: relative;
}
.row{
    display: flex;
    gap: 5rem;
    /* border: 5px solid rgb(0, 255, 102); */

}
.col{
    flex-grow: 1;
    padding: 0 0rem;
    /* border: 2px solid red; */

}

.list_section {
    /* border: 2px solid green; */
    /* max-width: 30rem; */
    margin:2rem auto;
    padding: 0rem 2rem;
}

.order_list li h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    color: #4f6d7a;
}

.order_list li {
    margin: 1em 0em;
}

.order_list li p {
    color: #858585;
    text-align: justify;
}

.order_list li::marker {
    font-size: 3rem;
    font-weight: 900;
    color: #5ea5b8;

}

.order_list::before {
    content: "";
    position: absolute;
    background-color: #e0e0e0;
    width: 3rem;
    height: 100%;
    top: -2rem;
    /* left: 0; */
    transform: translate(-65%, -00%);
    padding: 2rem;
    z-index: -1;
}

@media only screen and (max-width:425px){
    .row{
        flex-direction: column;
        gap: 0rem;
        align-items: center;
        /* border: 5px solid rgb(0, 255, 102); */
    }
}
