@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;

}

:root {
    --text-white: white;
    --bg-white: white;
    --text-primary: #35b8be;
    --text-primary-dark: #1b9097;
    --text-primary-light: #d9f7f8;
    /* --bg-primary-light: #d9f7f8; */
    --bg-primary-light: #f6fbfc;
    --bg-primary: #35b8be;
    --text-dark: #08090a;
    --bg-dark: #08090a;
    --text-secondary: #546285;
    --font-size-S: 16px;
    --font-size-M: 18px;
    --font-size-L: 22px;
    --font-size-lg-XL: 60px;
    --font-size-md-XL: 50px;
    --font-size-lg-XL-2: 55px;
    --font-size-md-XL-2: 48px;
}

.border {
    border: 2px solid red;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;

}

/* global css start */
h2 {
    font-size: var(--font-size-md-XL-2);
    color: var(--text-primary);
    line-height: 55px;
}

h1 {
    font-size: var(--font-size-md-XL);
    color: var(--text-primary);
    line-height: 60px;

}

p {
    color: var(--text-secondary);
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.2rem;
    background-image: url('./../assets/SVG.svg');
    background-repeat: no-repeat;
    background-position: -50px 0px;
    background-size: 100ex;
    color: var(--text-white);
    font-size: var(--font-size-M);
    cursor: pointer;
    transition: all .4s;
}
.btn:hover{
    background-image:linear-gradient(#00000010,#00000010), 
    url('./../assets/SVG.svg');

}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.py-2 {
    padding: 0 2rem;
}

/* global css end */

/* <!-- heading top section start  --> */

.top-heading {
    display: none;
}

/* <!-- heading top section end  --> */

/* <!-- navbar section start  --> */
.logo img {
    width: 40px;
}

.nav-container {
    background-color: var(--bg-primary-light);

}

.nav-row {
    padding: 1rem 0;

}

.nav-links {
    display: none;
    position: absolute;
    left: 0px;
    top: 87px;
    width: 100%;
    box-shadow: 0 0 50px #b3b3b3;
    z-index: -1;
}

.nav-link-group {
    list-style-type: none;
}

.nav-link-group>* a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    display: block;
    margin: 0;
    padding: 0.8rem 1rem;
    transition: all 0.5s;
}

.nav-link-group>* a:hover {
    background-color: var(--text-primary-light);
}

.link-active a {
    color: var(--text-primary) !important;
}

.nav-row,
.nav-col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-addCart-icon {
    position: relative;
}

.nav-addCart-icon i {
    color: var(--text-white);
    padding: 1.2rem;
    font-size: var(--font-size-M);
    background-image: url('./../assets/SVG.svg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 80ex;
    border-radius: 0.2rem;
    margin: 0rem 1rem;
    cursor: pointer;
}

.nav-addCart-icon::before {
    content: "0";
    position: absolute;
    background-color: var(--bg-white);
    color: var(--text-primary);
    font-weight: 500;
    text-align: center;
    padding: 0.1rem 0.4rem;
    border-radius: 20px;
    top: 0;
    right: 0;
    transform: translate(-30%, -30%);
    box-shadow: 0 0 50px #464646b8;
}

.nav-hamburger-icon {
    background-color: var(--text-primary-light);
    color: var(--text-dark);
    font-size: var(--font-size-M);
    padding: 1.2rem 1.3rem;
    border-radius: 0.2rem;
}

/* <!-- navbar section end  --> */

/* <!-- hero section start  --> */
.hero-container {
    background-image: url('./../assets/hero\ bg.svg');
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 85% 0%;
}

.hero-row {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.hero-row>* {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content .heading {
    color: var(--text-dark);
    margin: 1rem 0 1rem;
}

.hero-content .heading span {
    color: var(--text-primary);
}

.hero-desc p {
    color: var(--text-secondary);
    font-size: var(--font-size-M);
}

.order-btn {
    margin: 3rem 0 2rem;
}

.reviews p {
    padding: 0.2rem 0;
}

.reviews p span {
    color: var(--text-primary);
}

.hero-img img {
    width: 100%;
}


/* <!-- hero section end  --> */

/* <!-- products section start  --> */

/* <!-- products section end  --> */
.products-container {
    background-image: url('./../assets/bg\ 2.svg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7rem 0;
}

.products-row {
    display: flex;
    flex-direction: column;

}

.products-row>* {
    flex: 1 1 100%;

}

.products-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* align-items: flex-start; */
    /* justify-content: center; */

}

.products-col-1 p {
    margin: 1rem 0 3rem;
}

.product-img img {
    width: 100%;
}

@media only screen and (min-width:479px) {

    /* <!-- heading top section start  --> */

    .top-heading {
        display: block;
        padding: .9rem 0;
        background-image: url('./../assets/SVG.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top-heading p {
        text-align: center;
        font-size: var(--font-size-S);
        color: var(--text-primary-light);

    }

    .top-heading p a {
        text-decoration: none;
        color: var(--text-white);
        cursor: pointer;

    }

    /* <!-- heading top section end  --> */
    /* <!-- navbar section start  --> */
    .nav-container {
        background-color: var(--bg-white);

    }

    /* <!-- navbar section end  --> */

}


@media only screen and (min-width:991px) {

    /* global css start */
    h2 {
        font-size: var(--font-size-lg-XL-2);
        color: var(--text-primary);
    }

    h1 {
        font-size: var(--font-size-lg-XL);
        color: var(--text-primary);

    }

    /* global css end */


    /* <!-- navbar section start  --> */

    .nav-links {
        display: block;
        position: unset;
        box-shadow: unset;
        z-index: 1;
    }

    .nav-link-group {
        display: flex;
    }

    .nav-link-group>* a {
        margin: 0 1.2rem;
        padding: unset;
    }

    .nav-link-group>* a:hover {
        background-color: unset;
    }

    .nav-hamburger-icon {
        display: none;
    }

    /* <!-- navbar section end  --> */

    /* <!-- hero section start  --> */

    .hero-container {
        background-image: url('./../assets/hero\ bg.svg');
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 100% 70%;
    }

    .hero-content .heading {
        font-size: var(--font-size-lg-XL);
        color: var(--text-dark);
        margin: 5rem 0 1rem;
    }
  
    .hero-row {
        flex-direction: row;
        padding: 6rem 0;
        gap: 0rem;

    }

    .hero-row>* {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        text-align: unset;
    }


    /* <!-- hero section end --> */


    /* <!-- products section start  --> */

    .products-row {
        flex-direction: row;
        gap: 3rem;
    }

    .products-col-1 {
        text-align: unset;
        align-items: flex-start;
        justify-content: center;
    }

    .products-col-2 .product-img {
        padding-right: 0;
    }

    /* <!-- products section end  --> */


}