.box1{
    color: red;
    background-color: black;
    padding: 10px;
}

.box2{
    color: black;
    background-color: red;
    padding: 10px;

}

.fontSize{
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}