*,*::before,*::after{
    margin: 0;padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
    padding: 0rem 1rem;
}
.border{
   border:  2px solid red;

}
.nav__row{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.5em 0;

}
.nav__container{
    background-color: black;
}
.nav_link_group{
    list-style-type: none;
    display: flex;
}
.nav__link_container{
    display: none;
}
.nav__col-1 .logo h2{
    font-size: clamp(1.6rem ,3vw,2.5rem);
    color: white;
}
.nav__col-1 .logo h2 span{
    color: red;
}
.nav_link a{
    margin: 0 .5em;
    padding: 0.5em 1.5em;
}
.nav_link a,.hamburger_nav_link a{
    text-decoration: none;
    color: red;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.4s;
}
.hamburger_nav__link_container{
position: absolute;
top:3.5rem;
left: 50%;
transform: translate(-50%,0);
background-color: black;
width: 100%;
text-align: center;
border-radius: .5em;
}
.hamburger_nav_link_group{
    list-style-type: none;
}
.hamburger_button{
    color: white;
    background-color: transparent;
    border: none;
    font-size:1.5rem;
}

.hamburger_nav_link a{
    width: 100%;
    padding: 0.3em 0;
    display: inline-block;

    /* border:  2px solid red; */
}
.hamburger_nav_link a:hover ,.nav_link a:hover{
    color: white;
    background-color: red;
}


/* ipad screen only  */
@media only screen and (min-width:820px) {
    .nav__link_container{
        display: block;
    }
    .hamburger_nav__link_container,.hamburger_button{
        display: none;
    }
}